:root {
    --md-primary-fg-color:        #ffffff;
    --md-primary-fg-color--light: #ffffff;
    --md-primary-fg-color--dark:  #ffffff;
  }

.youtube {
    color: #EE0F0F;
  }
  .heart{
    color: #EE0F0F;
  }
